<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name="myConnectionString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\Muhammad Waqar\source\repos\Project\Project\Database1.mdf"
      providerName="System.Data.SqlClient" />
    <add name="Face_Recognition__based_Atttendance.Properties.Settings.Attendace_DatabaseConnectionString"
      connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=&quot;|DataDirectory|\Attendace Database.mdf&quot;;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="Project.Properties.Settings.Database1ConnectionString"
      connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Database1.mdf;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>